table, td, th {
    border: 1px solid black;
    text-align: center;
    border-spacing: 0px
}

table {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
}

.english {
    background-color: aqua
}

.math {
    background-color: blue
}

.tba {
    background-color: red
}

.pe {
    background-color: brown
}

.nitzotzot {
    background-color: darkgoldenrod
}

.literature {
    background-color: deeppink
}

.bible {
    background-color: blueviolet
}

.physics {
    background-color: teal
}

.ed {
    background-color: chartreuse
}

.tred {
    background-color: darkorange
}

.speech {
    background-color: gold
}

.history {
    background-color: gray
}

.fined {
    background-color: tomato
}

.comps {
    background-color: darkgreen
}

